#service {

}
#service .inner {
  padding-bottom: 435px;
  position: relative;
}
#service .inner hgroup {

}
#service .inner hgroup h2 {  
  color: #aaaaaa;
  font-size: 22px;
}
#service .inner hgroup h3 {
  line-height: 2;
}
#service .inner .contents {  
  flex-wrap: wrap;
  row-gap: 150px;
  margin-top: 60px;
  column-gap: 50px;
}
#service .inner .contents article {
  width: calc(100% / 3 - 100px / 3);
}
#service .inner .contents article:nth-child(3n+1){
  transform: translateY(25%);
}
#service .inner .contents article:nth-child(3n+2){
  transform: translateY(40%);
}
#service .inner .contents article:nth-child(3n+3){
  transform: translateY(5%);
}
#service .inner .contents article a {

}
#service .inner .contents article a::before{
  content: "";
  width: 100%;
  display: block;
  height: 595px;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  box-sizing: border-box;
  background-origin: border-box;
  border: 0px solid #636a52;
}
#service .inner .contents article a:hover::before{
  border: 50px solid #636a52;
}
#service .inner .contents article:nth-child(1) a::before{
  background-image: url(../img/main-service-01.jpg);  
}
#service .inner .contents article:nth-child(2) a::before{
  background-image: url(../img/main-service-02-1.jpg);  
}
#service .inner .contents article:nth-child(3) a::before{
  background-image: url(../img/main-service-03.jpg);  
}
#service .inner .contents article:nth-child(4) a::before{
  background-image: url(../img/main-service-04.jpg);  
}
#service .inner .contents article:nth-child(5) a::before{
  background-image: url(../img/main-service-05-1.jpg);  
}
#service .inner .contents article:nth-child(6) a::before{
  background-image: url(../img/main-service-06.jpg);  
} 
#service .inner .contents article a h4 {
  line-height: 1.5;
  margin: 10px 0;
}
#service .inner .contents article a p {

}
#service .inner .contents article a p:nth-of-type(1){
  color: #7f7f7f;
}
#service .inner .contents a.more {
  width: 300px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 50px);
  width: 100px;
  text-align: center;
  padding-right: 40px;
}
#service .inner .contents a.more::before{

}
#service .inner .contents a.more::after{

}

/* space */
#space{
  position: relative;
  padding: 280px 0 100px; 
}
#space .inner{
  margin-left: 0;
  padding-left: 10%;
  height: 560px;
  background-image: url(../img/main-space-01.jpg);
}
#space .inner h2{  
  font-size: 181px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#space .inner>*:not(h2){
  color: white; 
}
#space .inner p{  
  line-height: 1.3;
  margin-bottom: 40px;
  margin-top: 80px;
}
#space .inner a.more{

}
#space .inner a.more::before{  
  background-color: white;
}
.more span.hexagon{
  width: 80px;
  height: 80px;
  display: block;
  background-image: url(../img/hexagon.svg);
  background-size: cover;
  position: absolute;
  right: -40px;
  top: calc(50% - 33px);
  display: none;
}
.more:hover span.hexagon{
  display: block;
  animation-name: moreRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 51% 40%;
  animation-timing-function: linear;
}
@keyframes moreRotate{
  0%{
    opacity: 0;
    transform: rotate(0deg);
  }
  45%{
    opacity: 1;
  }
  55%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(360deg);
  }
}

#space .inner a.more::after{ 
  border-color: white;
}

/* 브랜드 스토리 */
#story {

}
#story div.inner {

}
#story div.inner hgroup {

}
#story div.inner hgroup h2 {
  color: #aaaaaa;
  margin-bottom: 20px;
}
#story div.inner hgroup h3 {  
  margin-bottom: 54px;
}
#story div.inner hgroup h4 {  
  line-height: 1.5;
}
#story div.inner hgroup h4 span {

}
#story div.inner ul.contents {
  width: 90%;
  margin: 100px 0;
}
#story div.inner ul.contents li {
  flex-grow: 1;
  width: calc(100% / 3);
}
#story div.inner ul.contents li:nth-child(2){
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
#story div.inner ul.contents li::before{
  content: "";
  display: block;
  height: 115px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 45px;
}
#story div.inner ul.contents li:nth-child(1)::before{
  background-image: url(../img/story1.svg);
}
#story div.inner ul.contents li:nth-child(2)::before{
  background-image: url(../img/story2.svg);
}
#story div.inner ul.contents li:nth-child(3)::before{
  background-image: url(../img/story3.svg);
}
#story div.inner ul.contents li h5 {
  margin-bottom: 30px;
  font-weight: 900;
}
#story div.inner ul.contents li p {

}
#story div.inner a.more {

}

/*miele*/
#miele {
  position: relative;
}
#miele .inner {
  margin-left: 0;
  padding-left: 10%;
  height: 560px;
  background-image: url(../img/main-miele-01-1722x850.jpg);
}
#miele .inner>*{
  color: white;
}
#miele .inner h2 { 
  margin-bottom: 22px;
}
#miele .inner h2 small.h5 {
  color: #afafb0;
  opacity: 0.7;
  display: block;
  margin-bottom: -33px;
}
#miele .inner p {

}
#miele .inner a.more {
  margin-top: 70px;
}
#miele .inner a.more::before{
  background-color: white;
}
#miele .inner a.more::after{
  border-color: white;
}
#miele::after{
  content: "";
  width: 30%;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #767c69;
  z-index: -1;
}

/*contact*/
#contact{
  height: 600px;
  position: relative;
}
#contact::after{
  content: "";
  width: 30%;
  height: 150%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #767c69;
  z-index: -1;
}
#contact .inner {
  margin-left: 0;
  padding-left: 10%;
  height: 560px;
}
#contact .inner::before{
  content: "";
  display: block;
  width: 500px;
  height: 600px;
  position: absolute;
  background-image: url(../img/main-register-01.jpg);
  right: 324px;
  top: 152px;
  opacity: 0.9;
}
#contact .inner h2 { 
  margin-bottom: 22px;
}
#contact .inner h2 small.h5 {
  color: #afafb0;
  opacity: 0.7;
  display: block;
  margin-bottom: -33px;
}
#contact .inner p {
  color: #666666;
}
#contact .inner a.more {
  margin-top: 70px;
}