@media screen and (max-width: 1200px){

}
@media screen and (max-width: 768px){
  /* 공통스타일 - hn태그 스타일링*/
  .p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .h1{
    /*     font-size: 80px; */
    font-size: 10.41666666666667vw;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .h2{
    /*     font-size: 35px; */
    font-size: 4.557291666666667vw;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .h3{
    /*     font-size: 31px; */
    font-size: 4.036458333333333vw;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .h4{
    /*     font-size: 25px; */
    font-size: 3.255208333333333vw;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .h5{
    /*     font-size: 20px; */
    font-size: 2.604166666666667vw;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
  }
  /* 패딩 */
  .padding50{
    padding: 50px;
  }
  .padding100{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .more{
    position: relative;
    width: 100px;
    text-align: center;
    padding-right: 30px;
  }
  /* 헤더 */
  header .inner{
    height: 15vw;
    width: 90%;
    justify-content: center;
    position: relative;
    align-items: center;
  }
  header .inner h1 a{
    font-size: 4.557291666666667vw;
  }
  header .inner .wgnb{
    position: absolute;
    left: 0;
    top: calc(50% - 18px);
  }
  header .inner .wgnb a.ham{
    transform: scale(0.9);
  }
  header .inner ul.enb{
    display: none;
  }

  /* 타이틀 */
  #title{
    /*! padding-top: 100px; */
    /*! box-sizing: border-box; */
  }
  #title::before{
    width: 100%;
  }
  #title .inner{    
    height: 87.63020833333333vw;
    height: 80%;
    justify-content: flex-start;
  }
  #title .inner h2{   
    order: 2;
    font-size: 7.464vw;
    margin-top: 23px;
  }
  #title .inner p{    
    order: 3;
    font-size: 3.125vw;
  }
  #title .inner iframe{
    height: 46.445vw;
    position: static;
    width: 100%;
    order: 1;
  }

  /* service */
  #service .inner{
    padding-bottom: 23.95833333333333vw;/*19.2기준*/
  }
  #service .inner hgroup h2{
    /*! font-size: 2.864583333333333vw; */
  }
  #service .inner hgroup h3{
    line-height: 1.2;
  }
  #service .inner .contents{
    margin-top: 7.8125vw;
    row-gap: 19.53125vw;
  }
  #service .inner .contents article{   
    width: 100%;
    transform: initial !important;
  }
  #service .inner .contents article a::before{    
    height: 77.47395833333333vw;
  }

  /* 스페이스 */
  #space{
    /*! padding: 280px 0 100px; */
    padding: 14.58333333333333vw 0 5.208333333333333vw;/*19.2기준*/
  }
  #space .inner{
    height: calc(72.91666vw + 70.4166vw);
    padding-top: 50px;
    justify-content: flex-start;
    padding-bottom: 50px;
    height: auto;
  }
  #space .inner h2, #miele .inner h2{   
    font-size: 9.739583333333333vw;/*19.2기준*/
  }
  #space .inner > :not(h2){
    color: black;
  }
  #space .inner::before{
    content: "";
    display: block;
    height: 200px;
    background-image: url(../img/main-space-01.jpg);
    background-size: cover;
  }
  #space .inner, #miele .inner, #contact .inner{
    margin-left: 0;
    padding-left: 10%;
    height: 72.91666666666667vw;
    margin-right: 0;
    padding-right: 10%;
    background-color: #ccc;
    background-size: cover;
  }
  #space .inner p{
    line-height: 1;
    margin-bottom: 5.208333333333333vw;
    margin-top: 10.41666666666667vw;
  }

  /* 스토리 */
  #story div.inner hgroup h2{

    margin-bottom: 2.604166666666667vw;
  }
  #story div.inner hgroup{
    margin-bottom: 13.02083333333333vw;
  }
  #story div.inner hgroup h3{    
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 7.03125vw;
  }
  #story div.inner hgroup h4{    
    line-height: 1;
  }
  #story div.inner ul.contents{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  #story div.inner ul.contents li{
    width: calc(100%);
  }
  #story div.inner ul.contents li::before{

  }
  #story div.inner ul.contents li:nth-child(2){
    display: none;
  }

  /* 밀레 */
  #miele .inner{
    background-image: none;
    height: auto;
    padding-top: 0;
    overflow: hidden;
  }
  #miele .inner::before{
    content: "";
    display: block;
    width: 100%;
    height: 39.0625vw;
    background-image: url(../img/main-miele-01-1722x850.jpg);
    background-size: cover;
    transform: scaleX(1.3);
    background-position: center;
  }
}
























